<launch>

    <arg name="user_debug" default="false"/>
    <arg name="sensors" default="false"/>
    <arg name="lidar" default="false"/>
    <arg name="cameras" default="false"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find b1_description)/xacro/robot.xacro'
            DEBUG:=$(arg user_debug) SENSORS:=$(arg sensors) LIDAR:=$(arg lidar) CAMERAS:=$(arg cameras)"/>
            
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
        
    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find b1_description)/rviz/robot_description.rviz"/>

</launch>
